// Colors

$color-black:#000000;
$color-white:#fff;
$color-primary: #EA7500;
$color-secondary:#FFCC7F;

$font-heading:'Lora', serif;
$font-paragraph:'Montserrat', sans-serif;


//Fonts

$font-heading:'Lora', serif;
$font-paragraph:'Montserrat', sans-serif;

$font-xl:12rem;
$font-large:10rem;
$font-medium:5rem;
$font-regular:2.5rem;
$font-small:1.8rem;